@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Lato', sans-serif;
}
.flex {
	display: flex;
   }
   .row {
	flex-direction: row;
   }
   .col {
	flex-direction: column;
   }
   .rel {
	position: relative;
   }
.body-wrapper {
 min-height: 100vh;
 width: 100%;
}
header, main, div, form, footer{
	display: flex;
}
header {
 height: 46px;
 background-color: #002D45;
}
header {
align-items: center;
justify-content: center;
}
main {
 background-color: white;
 width: 100%; 
 flex: 1;
}
.form-container {
 flex: 1;
 justify-content: center;
 align-items: center;
}
form {
 padding: 40px 0;
}
form, fieldset {
 border: none; 
 width: 500px;
}
form h1 {
 font-weight: bold;
 font-size: 32px;
 margin-bottom: 35px;
 color: #000000CC;
}
.field {
 margin-bottom: 24px;
}
form label {
 width: 100%;
 color: #333333;
 font-size: 14px;
 margin-bottom: 5px;
}
form label.flex {
 align-items: flex-end;
 justify-content: space-between;
}
#plans-chart {
 text-decoration: underline;
 font-size: 14px;
 white-space: nowrap;
 cursor: pointer;
}
/* .custom-select select{
	display: none
  } */
form input, select {
 border: 1px solid rgb(167, 204, 235);
 background-color: #E8F0FE;
 color: #272323;
 font-size: 16px;
 text-indent: 18px;
 height: 40px;
 width: 100%;
}
/* .select-selected {
	background-color: DodgerBlue;
} */
.form-footer {
 width: 100%;
 justify-content: space-between;
 align-items: flex-end;
 margin-top: 5px 0 10px 0;
}
.balance-wrapper {
 font-size: 16px;
 line-height: 240%;
}
#total {
 cursor: default;
 background-color: #C9EFDF;
 border: 1px solid #37aa8d;
 border-radius: 4px;
 color: #111111;
 padding: 5px 20px;
 letter-spacing: 3px;
 height: 40px;
 font-weight: bold;
 font-size: 25px;
}
#proceed-btn {
 font-size: 14px;
 color: white;
 height: 46px;
 width: 200px;
 border: 0px;
 border-radius: 22px;
 background-color: #3594D4;
 box-shadow: 0px 4px 6px #00000030;
}
#proceed-btn div {
 justify-content: center;
 align-items: center;
}
#proceed-btn .logo {
 margin-left: 15px;
 content: url(/assets/img/arrow.svg);
}
#proceed-btn:hover {
 cursor: pointer;
 transform: scale(1.03); 
 box-shadow: 0px 4px 12px #00000069;
}
.flutterwave-logo {
 position: absolute;
 right: 5px;
 bottom: -40px;
 height: 33px;
 content: url(/assets/img/flutterwave-logo.png);
}
.illustration-container {
 background: transparent linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 1%, rgb(214, 232, 243) 100%) 0% 0% no-repeat padding-box;
 flex: 1;
}
.illustration-container figure {
 background-image: url(/assets/img/mobile-art.png);
 background-repeat: no-repeat;
 background-position: center;
 height: auto;
 width: 100%;
}
footer {
 padding: 20px;
 width: 100%;
 height: 50px;
 min-height: fit-content;
 background-color: #005E91;
}
footer div {
 width: 100%;
 justify-content: flex-end;
 align-items: center;
 flex-wrap: wrap;
}
footer p, footer a {
 white-space: nowrap;
 margin-left: 20px;
 text-decoration: none;
 color: #BDD3E0;
 font-size: 13px;
 letter-spacing: 1px;
}
#notification-container {
   width: 100%;
   padding: 30px 20px;
   align-items: center;
   justify-content: center;
}
.transaction-status {
   font-weight: bold;
   margin: 20px 0 16px 0;
   font-size: 30px;
   color: #092c22;
   text-align: center;
}
.notification-wrapper {
   align-items: center;
}
#notification-message {
   text-align: center;
   width: 60%;
   line-height: 150%;
   font-size: 16px;
}
.other-services {
   align-items: center;
   list-style-type: none;
}
.other-services h2{
   font-weight: bold;
   font-size: 16px;
   color: #1E1E1E;
   margin: 65px 0 15px 0;
   text-align: center;
}
.other-services a {
   font-size: 16px;
   color: inherit;
   font-weight: normal;
   white-space: nowrap;
}
.other-services li {
   text-align: center;
   color: #606060;
   font-size: 15px;
   margin-bottom: 10px;
}
@media only screen and (max-width: 1100px) {
 .form-container {
  padding: 20px;
  flex: 1.2;
 }
 form, fieldset {
  width: 100%;
 }
 .illustration-container figure {
  background-size: 70%;
 }
}
@media only screen and (max-width: 800px) {
 .form-container {
  flex: 1;
  padding: 0;
 }
 form {
  width: 70%;
 }
 .illustration-container {
  flex: 0;
 }
 .illustration-container figure {
  background-image: none;
 }
 .form-footer {
  margin-bottom: 30px;
 }
}
@media only screen and (max-width: 600px) {
 form {
  width: 90%;
 }
 .field:last-child {
  margin-bottom: 5px;
 }
 .form-footer.row {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
 }
 .balance-wrapper {
  line-height: 185%;  
  margin-bottom: 20px;
 }
 #total {
  padding: 5px;
  font-size: 18px;
 }
 .proceed-wrapper {
  align-self: center;
  width: 100%;
 }
 #proceed-btn {
  width: 100%;
 }
 footer {
  padding: 20px 10px;
 }
 footer p, footer a {
  margin-right: 0;
 }
 /* alert */
 #notification-message {
    width: 75%;
 }
 #notification-container  {
    padding: 10px;
 }
}